.tweet-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.tweet-form label {
  font-size: 25px;
  font-weight: 600;
}

.tweet-form textarea {
  border: none;
  border-bottom: 5px solid #545149;
  resize: none;
  outline: none;
  background-color: #f4f1ec;
  font-size: 20px;
  height: 80px;
  padding-top: 10px
}

.form-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-family: 'Bungee', cursive;
}

.form-footer button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
  border: none
}

.form-footer button:hover {
  font-size: 22px;
  transition: 300ms;
  cursor: pointer;
}